* {
    box-sizing: border-box;
 }

 body {
    margin: 0;
    }

    header {
        background-color: blue;
        text-align: center;
        padding: 16px;
        }

        nav {
            background-color: aqua;
            height: 26px;
}